body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://i.pinimg.com/236x/c4/2f/24/c42f24813e8bd96f48f791084e5a5e76.jpg');
}

.login-container {
    width: 400px;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #474646;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-group input:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enter-container {
    margin-right: 20px;

}


.login-btn:hover {
    background-color: #45a049;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    text-decoration: none;
    color: #4caf50;
}

.forgot-password a:hover {
    text-decoration: underline;
}
